.furniture-btn {
	color: black;
	font-size: 40px;
	padding: 200px 200px;
	font-family: 'Oswald', sans-serif;
}
.ID-btn {
	color: black;
	font-size: 40px;
	padding: 200px 160px;
	font-family: 'Oswald', sans-serif;
}
.about-btn {
	color: black;
	font-size: 40px;
	padding: 200px 200px;
	font-family: 'Oswald', sans-serif;
}